<div class="row"><h1>ABOUT US</h1></div>
<div class="row">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales libero dolor. Quisque accumsan, mi vel iaculis aliquet, ipsum nunc malesuada massa, eget ullamcorper risus quam id lectus. Morbi tincidunt consequat sem, at tempor arcu egestas nec. Donec sed mi vel libero luctus fringilla quis et nibh. Nunc non risus ut justo tristique scelerisque. Nulla efficitur a leo id suscipit. Morbi eu tempor nisi. Suspendisse hendrerit mauris vel nunc commodo, et malesuada velit venenatis. Phasellus quis risus sapien. Fusce sem mauris, placerat et felis in, laoreet dictum sapien. Sed sollicitudin magna ut facilisis facilisis. Phasellus eu urna dui. Nulla suscipit ipsum justo, non consequat est mollis eu.
    </p>
</div>

<div class="row">
    <a class="button"><strong>LEARN MORE<strong></a>
</div>

<div class="row social">
    <a href="https://www.twitter.com/5431frc" target="_blank"><img src="assets\images\twitter.svg"></a>
    <a href="https://www.youtube.com/channel/UCCItxf-ebmkhl8T0g7U7k8Q" target="_blank"><img src="assets\images\youtube.svg"></a>
    <a href="https://www.youtube.com/channel/UCCItxf-ebmkhl8T0g7U7k8Q" target="_blank"><img src="assets\images\facebook.svg"></a>
</div>
