<div class="grey">
    <div class="row"><h1>CONTACT US</h1></div>
    
    <div class="row" style="text-align: center;">
        <h4>EMAIL ADDRESS: <p>frc5431@gmail.com</p>
            <br>
            <br>
            PHONE NUMBER: <p>123-456-7890</p>
        </h4>
    </div>

    <div class="row email-form">
        <form class="email-form" method="POST" action="http://formspree.io/frc5431@gmail.com">
            <input class="form-element" type="email" name="email" placeholder="Your email address">
            <textarea name="message" placeholder="Your message"></textarea>
            <button type="submit">SEND</button>
        </form>
    </div>
</div>
