<div class="row"><h1>SPONSORS</h1></div>
<div class="row">
    <div class="sponsors"
        <img class="logo" src="assets\images\sponsors\BAE_SYSTEMS.svg">
        <img class="logo" src="assets\images\sponsors\CanacConstructionlogo.svg">
        <img class="logo" src="assets\images\sponsors\FIRST_Logo.svg">
        <img class="logo" src="assets\images\sponsors\PlanoEducationFoundation.svg">
        <img class="logo" src="assets\images\sponsors\RockwellCollinslogo.svg">
        <img class="logo" src="assets\images\sponsors\ptc-master-color.svg">
        <img class="logo" src="assets\images\sponsors\Texas Floor Source.svg">
        <img class="logo" src="assets\images\sponsors\TIL Logo.svg">
        <img class="logo" src="assets\images\sponsors\ThomsonReuters.svg">
        <img class="logo" src="assets\images\sponsors\Txis.svg">
    </div>
</div>
